# Ignore all files in data folder except complete_datasets.csv
data/*
!data/complete_datasets.csv

# Ignore docs folder
docs/

# Ignore Jupyter Notebook files
*.ipynb
.ipynb_checkpoints/

# Optional common ignores
__pycache__/
.DS_Store
node_modules/
